<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>
<div class="books container" th:if="${book != null}">
    <h3>Book Details</h3>
    <ul id="profile-page-about-details" class="collection z-depth-1">
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"> Title</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${book.bibliographicRecord.title}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"> Author</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${book.bibliographicRecord.author}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"> Genre</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${book.bibliographicRecord.genre.name}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"> Isbn</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${book.bibliographicRecord.isbn}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"> Barcode</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${book.barcode}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"> Available</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${book.available}"></div>
            </div>
        </li>
    </ul>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>