<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <form th:action="@{${action}}" method="post" th:object="${book}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <input type="hidden" th:field="*{available}"/>

        <div class="row">
            <div class="col s12">
                <h2 th:text="${heading}">New Book</h2>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s5 grey-text darken-1"> Barcode</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('barcode')} ? 'error' : ''">
                <input type="text" th:field="*{barcode}" placeholder="Barcode"/>
                <div class="error-message" th:if="${#fields.hasErrors('barcode')}" th:errors="*{barcode}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s5 grey-text darken-1"> Isbn</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('bibliographicRecord.isbn')} ? 'error' : ''">
                    <input id="w-input-search" type="text" name="isbn" placeholder="Isbn"
                           th:field="*{bibliographicRecord.isbn}"/>
                    <div class="error-message" th:if="${#fields.hasErrors('bibliographicRecord.isbn')}"
                         th:errors="*{bibliographicRecord.isbn}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <button th:text="${submit}" type="submit" class="button">Add</button>
                <a th:href="@{/books}" class="button">Cancel</a>
            </div>
        </div>
    </form>
    <div class="row delete" th:if="${book.id != null}">
        <div class="col s12 l8">
            <form th:action="@{|/books/${book.id}/delete|}" method="post">
                <button type="submit" class="button"
                        onclick="return confirm('Are you sure you want to delete this item?')">Delete
                </button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
<script>
    $(document).ready(function () {
        var _ctx = $("meta[name='ctx']").attr("content");
        $('#w-input-search').autocomplete({
            serviceUrl: (_ctx === undefined ? "": _ctx) + '/bibliographicRecords/getIsbns',
            paramName: "isbnPart",
            delimiter: ",",
            transformResult: function (response) {

                return {
                    //must convert json to javascript object before process
                    suggestions: $.map($.parseJSON(response), function (item) {

                        return {value: item, data: item};
                    })

                };

            }

        });

    });
</script>
</body>
</html>