<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>
<div class="books container">
    <div class="row">
        <div class="col s9">
            <h2>Books</h2>
        </div>
        <div class="col s3">
            <a class="right add" th:href="@{/books/add}">+</a>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div th:fragment="searchbar" class="search-bar container">
            <div class="row">
                <div class="col s12">
                    <form th:action="@{/books/search}" method="get" id="searchForm">
                        <div class="input-field">
                            <input name="barcode" type="search" placeholder="Search for book by barcode" required="required" autocomplete="off"/>
                            <i class="material-icons" id="searchIcon">search</i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2 class="center-align" th:if="${books != null and #lists.isEmpty(books)}">No books found</h2>
    <table class="highlight" th:if="!${#lists.isEmpty(books)}">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Isbn</th>
            <th>Barcode</th>
            <th>Available</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.bibliographicRecord.title}"></td>
            <td th:text="${book.bibliographicRecord.author}"></td>
            <td th:text="${book.bibliographicRecord.isbn}"></td>
            <td th:text="${book.barcode}"></td>
            <td th:text="${book.available}"></td>
            <td><a th:href="@{|/books/${book.id}|}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">info</i></a></td>
            <td><a th:href="@{|/books/${book.id}/edit|}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">mode_edit</i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>