@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    font-family: 'varela round', sans-serif;
}

.login-card {
    margin-top: 148px;
    padding-top: 20px!important;
    background-color: rgba(255,255,255,0.9);
}
.login-body {
    background-image: url("./images/library_bg.jpg");
    background-position: center center;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 5px; white-space: nowrap; overflow: hidden; font-size:22px}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #66bb6a; }


@media only screen and (min-width: 993px){
    .login-page-container {
        width: 40%;
    }
}

@media only screen and (max-width: 1300px){
    .login-page-container {
        width: 80%;
    }

}

.pagination li.active {
    background-color: #3e474f;
}

.users .row:first-child > .col > a {
    font-size: 3rem;
    line-height: 3rem;
    color: #388e3c;
    font-family: roboto;
    font-weight: 200;
    margin-top: 18px;
}

.books .row:first-child > .col > a {
    font-size: 3rem;
    line-height: 3rem;
    color: #388e3c;
    font-family: roboto;
    font-weight: 200;
    margin-top: 18px;
}

.bibliographics .row .col > a {
    font-size: 3rem;
    line-height: 3rem;
    color: #388e3c;
    font-family: roboto;
    font-weight: 200;
    margin-top: 18px;
}

.inline {
    display: inline-block;
}

.logout button {
    border: none;
    background: transparent;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 0;
    color: #2e7d32;
}

h3 {
    font-size: 1.4rem;
    margin-bottom: 0;
    color: #388e3c;
}

nav {
    background-color: #66bb6a;
    box-shadow: none;
}

nav ul li a {
    color: #FFFFFF;
    font-size: 1.1rem;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.1)!important;
}

nav ul li.active, nav ul li:hover {
    background-color: inherit;
}

#mobile-nav, #mobile-nav li.active, #mobile-nav li:hover {
    background-color: #66bb6a;
    padding: 0;
}

#mobile-nav li a {
    font-size: 1.3rem;
    color: #ffffff;
}

#mobile-nav li form button {
    font-size: 1.3rem;
    padding: 0 15px;
}

#mobile-nav li.active a {
    color: #576366;
}

#mobile-nav li {
    border-bottom: 1px solid #ffffff;
}

.search-bar .col {
    padding: 0;
}

.search-bar .input-field {
    background-color: #f7f5fa;
}

.search-bar .input-field {
    border: 1px solid #dad7de;
    border-radius: 4px;
}

.search-bar .input-field input {
    border: none;
    margin: 0;
    padding-left: 1rem;
    font-size: 1.1rem;
}

.search-bar .input-field input:focus {
    background-color: transparent;
}

.search-bar .input-field input ~ .material-icons, .search-bar .input-field input:focus ~ .material-icons {
    top: 0.5rem;
    color: #66bb6a;
}

.search-bar .input-field input, .search-bar .input-field input:focus {
    color: #757378;
}


.col {
    margin-bottom: 0.75rem;
    position: relative;
}

.container .row {
    margin-left: 0;
    margin-right: 0;
}

#sidenav-overlay {
    background-color: transparent;
}

.card {
    box-shadow: none;
    border-radius: 4px;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.delete .button[type=submit] {
    background:#ac4343;
    color:#FFFFFF;
    float:right;
    position:relative;
    top: -71px;
    margin-right: 0;
}

.flash {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.1rem;
}

.flash.success {
    background-color: #7f9e40;
    color: #f3f6ee;
}

.flash.failure {
    background-color: #ac4343;
    color: #f2e2e2;
}

i[data-close] {
    margin: 1rem;
    color: #fff;
    cursor: default;
    cursor: pointer;
}

.divider {
    margin: 0 0 1.6rem 0;
}

form .row .col {
    margin-bottom: 0;
}

input[type=text] {
    display: block;
    border: 1px solid #dad7de;
    border-radius: 6px;
    background: #f7f5fa;
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
    height: initial;
    box-sizing: border-box;
    margin-bottom: 0;
    color: #7a7580;
}

input[type=text]:focus:not([readonly]) {
    border-bottom-color: #dad7de;
    box-shadow: none;
}

.barcodeInput {
    width: 60%!important;
    margin-bottom: 15px!important;
}

.button {
    margin-right: 1rem;
    display: inline-block;
    background: #f2f0f5;
    border-radius: 4px;
    border: none;
    color: #a29fa6;
    line-height: 1.5;
    font-size: 0.9rem;
    padding: 1rem 2rem;
    text-align: center;
}

.button[type=submit] {
    background: #66bb6a;
    color: #fefefe;
}

.error input {
    border-width: 2px;
    border-color: #ac4343;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.error .error-message {
    border: 2px solid #ac4343;
    border-radius: 0 0 6px 6px;
    background-color: #ac4343;
    color: rgb(254,251,251);
    padding: 10px;
}

@media only screen and (max-width: 1300px) {

    .container {
        width: 100%;
    }

    .col {
        padding-right: 0;
    }

    .navbar-fixed .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .search-bar {
        margin-bottom: 1rem;
    }

    .search-bar div {
        margin-bottom:0;
    }

    .search-bar .input-field {
        margin-top: 0;
        border: none;
        border-radius: 0;
    }

    .search-bar .input-field input {
        height: 4rem;
        padding-left: 1.5rem;
    }

    .search-bar .input-field input ~ .material-icons, .search-bar .input-field input:focus ~ .material-icons {
        top: 1rem;
        right: 1rem;
    }

    .flash {
        margin: 0;
        border-radius: 0;
        padding: 1rem;
    }

    .divider {
        margin: 0 0.75rem 1.6rem 0.75rem;
    }

    .delete .button[type=submit] {
        top: -67px;
    }
}

/* Bugs in Materialize */
@media only screen and (min-width: 1300px) {

    .row .col.offset-l2 {
        margin-left: 16.66667%;
    }

    .row .col.offset-l1 {
        margin-left: 8.33333%;
    }
}
