<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>
<div class="bibliographics container">
    <h3>Bibliographic Record Details</h3>
    <ul id="profile-page-about-details" class="collection z-depth-1">
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"> Title</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${bibliographicRecord.title}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"> Author</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${bibliographicRecord.author}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"> Genre</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${bibliographicRecord.genre.name}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"> Isbn</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${bibliographicRecord.isbn}"></div>
            </div>
        </li>
    </ul>

    <div class="row">
        <div class="col s9">
            <h3>Books</h3>
        </div>
        <table class="striped">
            <thead>
            <tr>
                <th>Barcode</th>
                <th>Availability</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="book : ${bibliographicRecord.books}">
                <td th:text="${book.barcode}"></td>
                <td th:text="${book.available}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>