<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <form th:action="@{${action}}" method="post" th:object="${bibliographicRecord}">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{version}" />
        <input type="hidden" th:field="*{books}" />
        <div class="row">
            <div class="col s12">
                <h2 th:text="${heading}">New Bibliographic Record</h2>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s5 grey-text darken-1"> Title</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('title')} ? 'error' : ''">
                <input type="text" th:field="*{title}" placeholder="Title"/>
                <div class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s5 grey-text darken-1"> Author</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('author')} ? 'error' : ''">
                <input type="text" th:field="*{author}" placeholder="Author"/>
                <div class="error-message" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s5 grey-text darken-1"> Genre</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('genre.name')} ? 'error' : ''">
                <input type="text" name="genre" id="w-input-search" th:field="*{genre.name}" placeholder="Genre"/>
                <div class="error-message" th:if="${#fields.hasErrors('genre.name')}" th:errors="*{genre.name}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s5 grey-text darken-1"> Isbn</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('isbn')} ? 'error' : ''">
                <input type="text" th:field="*{isbn}" placeholder="Isbn"/>
                <div class="error-message" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <button th:text="${submit}" type="submit" class="button">Add</button>
                <a th:href="@{/bibliographicRecords}" class="button">Cancel</a>
            </div>
        </div>
    </form>
    <div class="row delete" th:if="${bibliographicRecord.id != null}">
        <div class="col s12 l8">
            <form th:action="@{|/bibliographicRecords/${bibliographicRecord.id}/delete|}" method="post">
                <button type="submit" class="button" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
<script>
    $(document).ready(function() {
        var _ctx = $("meta[name='ctx']").attr("content");
        $('#w-input-search').autocomplete({
            serviceUrl: (_ctx === undefined ? "": _ctx) + '/genres/getGenres',
            paramName: "genreName",
            delimiter: ",",
            transformResult: function(response) {

                return {
                    //must convert json to javascript object before process
                    suggestions: $.map($.parseJSON(response), function(item) {

                        return { value: item.name, data: item.id };
                    })

                };

            }

        });

    });
</script>
</body>
</html>