<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>
<div class="bibliographics container">
    <div class="row">
        <div class="col s9">
            <h2>Bibliographic Records</h2>
        </div>
        <div class="col s3">
            <a class="right add" th:href="@{/bibliographicRecords/add}">+</a>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div th:fragment="searchbar" class="search-bar container">
            <div class="row">
                <div class="col s12">
                    <form th:action="@{/bibliographicRecords/search}" method="get" id="searchForm">
                        <div class="input-field">
                            <input name="isbn" type="search" placeholder="Search for bibliographic record by isbn" required="required" autocomplete="off"/>
                            <i class="material-icons" id="searchIcon">search</i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2 class="center-align" th:if="${bibliographicRecords != null and #lists.isEmpty(bibliographicRecords)}">No bibliographic record found</h2>
    <table class="highlight" th:if="!${#lists.isEmpty(bibliographicRecords)}">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Isbn</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="bibliographicRecord : ${bibliographicRecords}">
            <td th:text="${bibliographicRecord.title}"></td>
            <td th:text="${bibliographicRecord.author}"></td>
            <td th:text="${bibliographicRecord.genre.name}"></td>
            <td th:text="${bibliographicRecord.isbn}"></td>
            <td><a th:href="@{|/bibliographicRecords/${bibliographicRecord.id}|}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">info</i></a></td>
            <td><a th:href="@{|/bibliographicRecords/${bibliographicRecord.id}/edit|}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">mode_edit</i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>