<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: searchbar"></div>
<div th:replace="layout :: flash"></div>
<div class="user container">
    <h3>User Details</h3>
    <ul id="profile-page-about-details" class="collection z-depth-1">
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"><i class="small mdi-social-person"></i> Full name</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${user.name}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"><i class="small mdi-communication-email"></i> E-mail</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${user.email}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"><i class="small mdi-social-domain"></i> Address</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="|${user.zipCode}, ${user.city} ${user.streetAddress}|"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"><i class="small mdi-action-info-outline"></i> Barcode</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${user.barcode}"></div>
            </div>
        </li>
        <li class="collection-item">
            <div class="row">
                <div class="col s5 grey-text darken-1"><i class="small material-icons">card_membership</i> Membership expiration</div>
                <div class="col s7 grey-text text-darken-4 left-align" th:text="${user.membershipExpiration}"></div>
                <form th:action="@{/users/} + ${user.id} + '/renew'" method="post">
                    <button class="btn waves-effect waves-light blue-grey" type="submit" name="action">Renew
                        <i class="material-icons right">autorenew</i>
                    </button>
                </form>
            </div>

        </li>
    </ul>

    <div class="row">
        <h3>Loaned Books</h3>
        <table class="striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Barcode</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="loan : ${user.loans}">
                <td th:text="${loan.book.bibliographicRecord.title}"></td>
                <td th:text="${loan.book.bibliographicRecord.author}"></td>
                <td th:text="${loan.book.barcode}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>