<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <form th:action="@{${action}}" method="post" th:object="${user}">
        <input type="hidden" th:field="*{enabled}" />
        <input type="hidden" th:field="*{role}" />
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{version}" />
        <input type="hidden" th:field="*{loans}" />
        <input type="hidden" th:field="*{membershipExpiration}" />
        <input th:if="${user.id != null}" type="hidden" th:field="*{username}" />
        <div class="row">
            <div class="col s12">
                <h2 th:text="${heading}">New User</h2>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s5 grey-text darken-1"><i class="small mdi-social-person"></i> Full name</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('name')} ? 'error' : ''">
                <input type="text" th:field="*{name}" placeholder="Full Name"/>
                <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s5 grey-text darken-1"><i class="small mdi-social-domain"></i> Zip Code</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('zipCode')} ? 'error' : ''">
                <input type="text" th:field="*{zipCode}" placeholder="ZIP Code"/>
                <div class="error-message" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s5 grey-text darken-1"><i class="small mdi-social-location-city"></i> City</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('city')} ? 'error' : ''">
                <input type="text" th:field="*{city}" placeholder="City"/>
                <div class="error-message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s5 grey-text darken-1"><i class="small mdi-communication-location-on"></i> Address</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('streetAddress')} ? 'error' : ''">
                <input type="text" th:field="*{streetAddress}" placeholder="Address"/>
                <div class="error-message" th:if="${#fields.hasErrors('streetAddress')}" th:errors="*{streetAddress}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s5 grey-text darken-1"><i class="small mdi-action-info-outline"></i> Barcode</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('barcode')} ? 'error' : ''">
                <input type="text" th:field="*{barcode}" placeholder="Barcode"/>
                <div class="error-message" th:if="${#fields.hasErrors('barcode')}" th:errors="*{barcode}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s5 grey-text darken-1"><i class="small mdi-communication-email"></i> E-mail</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('email')} ? 'error' : ''">
                <input type="text" th:field="*{email}" placeholder="Email"/>
                <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
        </div>
        <div class="row" th:if="${user.id == null}">
            <div class="col s5 grey-text darken-1"><i class="small mdi-action-account-circle"></i> Username</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('username')} ? 'error' : ''">
                <input type="text" th:field="*{username}" placeholder="Username"/>
                <div class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>
        </div>
        <div class="row" th:if="${user.id == null}">
            <div class="col s5 grey-text darken-1"><i class="small mdi-action-lock-outline"></i>Password</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('password')} ? 'error' : ''">
                <input type="password" th:field="*{password}"/>
                <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l8">
                <button th:text="${submit}" type="submit" class="button">Add</button>
                <a th:href="@{/users}" class="button">Cancel</a>
            </div>
        </div>
    </form>
    <div class="row delete" th:if="${user.id != null and user.role.name == 'ROLE_USER'}">
        <div class="col s12 l8">
            <form th:action="@{|/users/${user.id}/delete|}" method="post">
                <button type="submit" class="button" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>