<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>
<div class="users container">
    <div class="row">
            <div class="col s9">
                <h2>Users</h2>
            </div>
            <div class="col s3">
                <a class="right add" th:href="@{/users/add}">+</a>
            </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div th:fragment="searchbar" class="search-bar container">
            <div class="row">
                <div class="col s12">
                    <form th:action="@{/users/search}" method="get" id="searchForm">
                        <div class="input-field">
                            <input name="name_or_barcode" type="search" placeholder="Search for user by name or barcode" required="required" autocomplete="off"/>
                            <i class="material-icons" id="searchIcon">search</i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2 class="center-align" th:if="${users != null and #lists.isEmpty(users)}">No user found</h2>
    <table class="highlight" th:if="!${#lists.isEmpty(users)}">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Username</th>
            <th>Barcode</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.barcode}"></td>
            <td><a th:href="@{|/users/${user.id}|}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">info</i></a></td>
            <td><a th:href="@{|/users/${user.id}/edit|}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">mode_edit</i></a></td>
            <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{|/users/${user.id}/passwordChange|}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">lock</i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>