<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <form th:action="@{${action}}" method="post" th:object="${user}">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{version}"/>
        <div class="row">
            <div class="col s12">
                <h2 th:text="${heading}">Change Password</h2>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s5 grey-text darken-1">New Password</div>
            <div class="col s12 l8" th:classappend="${#fields.hasErrors('password')} ? 'error' : ''">
                <input type="password" th:field="*{password}"/>
                <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 l8">
                <button th:text="${submit}" type="submit" class="button">Add</button>
                <a th:href="@{/users}" class="button">Cancel</a>
            </div>
        </div>
    </form>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>