<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>
<div class="bibliographics container">
    <div class="row">
        <div class="col s9">
            <h2>Catalog</h2>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div th:fragment="searchbar" class="search-bar container">
            <div class="row">
                <div class="col s12">
                    <form th:action="@{/catalog/search}" method="get" id="searchForm">
                        <div class="input-field">
                            <input name="searchExpression" type="search" placeholder="Search by author, title or genre" required="required" autocomplete="off"/>
                            <i class="material-icons" id="searchIcon">search</i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2 class="center-align" th:if="${bibliographicRecords != null and #lists.isEmpty(bibliographicRecords)}">No bibliographic record found</h2>
    <table class="highlight" th:if="${bibliographicRecords != null and not #lists.isEmpty(bibliographicRecords.content)}">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Isbn</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="bibliographicRecord : ${bibliographicRecords}">
            <td th:text="${bibliographicRecord.title}"></td>
            <td th:text="${bibliographicRecord.author}"></td>
            <td th:text="${bibliographicRecord.genre.name}"></td>
            <td th:text="${bibliographicRecord.isbn}"></td>
            <td><a th:href="@{|/bibliographicRecords/${bibliographicRecord.id}|}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">info</i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<h2 class="center-align" th:if="${bibliographicRecords != null and #lists.isEmpty(bibliographicRecords.content)}">No bibliographic record found</h2>
<div class="row" th:if="${bibliographicRecords != null and not #lists.isEmpty(bibliographicRecords.content)}">

    <div th:if="${bibliographicRecords.totalPages != 1}" class="form-group col-md-11 pagination-centered center-align">
        <ul class="pagination">
            <li th:class="${bibliographicRecords.number == 0} ? disabled">
                <a class="pageLink" th:href="@{/catalog/search(searchExpression=${searchExpression},pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
            </li>
            <li th:class="${bibliographicRecords.number == 0} ? disabled">
                <a class="pageLink" th:href="@{/catalog/search(searchExpression=${searchExpression}, pageSize=${selectedPageSize}, page=${bibliographicRecords.number})}">&larr;</a>
            </li>
            <li th:class="${bibliographicRecords.number == (page - 1)} ? 'active pointer-disabled'"
                th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                <a class="pageLink" th:href="@{/catalog/search(searchExpression=${searchExpression}, pageSize=${selectedPageSize}, page=${page})}" th:text="${page}"></a>
            </li>
            <li th:class="${bibliographicRecords.number + 1 == bibliographicRecords.totalPages} ? disabled">
                <a class="pageLink" th:href="@{/catalog/search(searchExpression=${searchExpression}, pageSize=${selectedPageSize}, page=${bibliographicRecords.number + 2})}">&rarr;</a>
            </li>
            <li th:class="${bibliographicRecords.number + 1 == bibliographicRecords.totalPages} ? disabled">
                <a class="pageLink" th:href="@{/catalog/search(searchExpression=${searchExpression}, pageSize=${selectedPageSize}, page=${bibliographicRecords.totalPages})}">&raquo;</a>
            </li>
        </ul>
    </div>

</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>