<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" lang="en">
    <meta charset="UTF-8"/>
    <meta description="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />

    <link rel="stylesheet" th:href="@{/vendor/materialize/css/materialize.min.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/app.css}" />

    <title>Epic Library</title>
</head>
<body>
<div th:fragment="nav" class="navbar-fixed">
    <nav>
        <div class="container">
            <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li th:classappend="${#httpServletRequest.servletPath.startsWith('/catalog') || #httpServletRequest.servletPath.equals('/')? 'active' : ''}"><a th:href="@{/catalog}">Catalog</a></li>
                <li th:classappend="${#httpServletRequest.servletPath.equals('/myLendings') ? 'active' : ''}"><a th:href="@{/myLendings}">My Lendings</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" th:classappend="${#httpServletRequest.servletPath.startsWith('/bibliographicRecords') ? 'active' : ''}"><a th:href="@{/bibliographicRecords}">Bibliographic Records</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" th:classappend="${#httpServletRequest.servletPath.startsWith('/books') ? 'active' : ''}"><a th:href="@{/books}">Books</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIBRARIAN')" th:classappend="${#httpServletRequest.servletPath.startsWith('/users') ? 'active' : ''}"><a th:href="@{/users}">Users</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" th:classappend="${#httpServletRequest.servletPath.startsWith('/lend') ? 'active' : ''}"><a th:href="@{/lend}">Lend Book</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" th:classappend="${#httpServletRequest.servletPath.startsWith('/return') ? 'active' : ''}"><a th:href="@{/return}">Return Book</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li sec:authentication="name"></li>
                <li>
                    <form class="logout inline" th:action="@{/logout}" method="post">
                        <button type="submit"><i class="material-icons">power_settings_new</i></button>
                    </form>
                </li>
            </ul>
            <ul id="mobile-nav" class="side-nav">
                <li th:classappend="${#httpServletRequest.servletPath.equals('/catalog') ? 'active' : ''}"><a th:href="@{/catalog}">Catalog</a></li>
                <li th:classappend="${#httpServletRequest.servletPath.equals('/myLendings') ? 'active' : ''}"><a th:href="@{/myLendings}">My Lendings</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" th:classappend="${#httpServletRequest.servletPath.equals('/bibliographicRecords') ? 'active' : ''}"><a th:href="@{/bibliographicRecords}">Bibliographics</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" th:classappend="${#httpServletRequest.servletPath.equals('/books') ? 'active' : ''}"><a th:href="@{/books}">Books</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_LIBRARIAN')" th:classappend="${#httpServletRequest.servletPath.equals('/users') ? 'active' : ''}"><a th:href="@{/users}">Users</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" th:classappend="${#httpServletRequest.servletPath.equals('/lend') ? 'active' : ''}"><a th:href="@{/lend}">Lend Book</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_LIBRARIAN')" th:classappend="${#httpServletRequest.servletPath.equals('/return') ? 'active' : ''}"><a th:href="@{/return}">Return Book</a></li>
                <li>
                <form class="logout inline" th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
                </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="flash" th:if="${flash != null}" class="container">
    <div class="message">
        <i class="right material-icons" data-close="">close</i>
        <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
    </div>

</div>

<div th:fragment="scripts">
    <script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
    <script th:src="@{/vendor/materialize/js/materialize.js}"></script>
    <script th:src="@{/app.js}"></script>
    <script th:src="@{/jquery.autocomplete.min.js}"></script>
</div>
</body>
</html>