<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>
<div class="user container">
    <div class="row">
        <div class="col s9">
            <h2>Lending</h2>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div>
            <h3>User Details</h3>
            <p th:text="|Name: ${user.name}|"></p>
            <p th:text="|Barcode: ${user.barcode}|"></p>
            <p th:text="|Membership expiration: ${user.membershipExpiration}|"></p>
        </div>
        <div th:if="!${#lists.isEmpty(user.loans)}">
            <h3>Loaned Books</h3>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Barcode</th>
                        <th>Overdue fee</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="loan : ${user.loans}">
                        <td th:text="${loan.book.bibliographicRecord.title}"></td>
                        <td th:text="${loan.book.bibliographicRecord.author}"></td>
                        <td th:text="${loan.book.bibliographicRecord.genre.name}"></td>
                        <td th:text="${loan.book.barcode}"></td>
                        <td th:text="|${loan.calculateOverdueFee()} Ft|"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row col s12 l6">
        <form th:action="@{/lend/users/} + ${user.id}" method="post">
            <input type="text" id="bookBarcode" name="bookBarcode" class="barcodeInput" placeholder="Book barcode"/>
            <button class="btn waves-effect waves-light blue-grey" type="submit" name="action">Lend
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>