<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>
<div class="books container">
    <div class="row">
        <div class="col s9">
            <h2>My Lendings</h2>
        </div>
    </div>
    <div class="divider"></div>
    <h2 class="center-align" th:if="${loans != null and #lists.isEmpty(loans)}">No loans found</h2>
    <table class="highlight" th:if="!${#lists.isEmpty(loans)}">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Isbn</th>
            <th>Barcode</th>
            <th>Return deadline</th>
            <th>Overdue Fee</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="loan : ${loans}">
            <td th:text="${loan.book.bibliographicRecord.title}"></td>
            <td th:text="${loan.book.bibliographicRecord.author}"></td>
            <td th:text="${loan.book.bibliographicRecord.isbn}"></td>
            <td th:text="${loan.book.barcode}"></td>
            <td th:text="${loan.returnDateDeadline}"></td>
            <td th:text="|${loan.calculateOverdueFee()} Ft|"></td>
            <td><a th:href="@{|/books/${loan.book.id}|}" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">info</i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>