<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>
<div th:replace="layout :: flash"></div>
<div class="books container">
    <div class="row">
        <div class="col s9">
            <h2>Return</h2>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div th:fragment="searchbar" class="search-bar container">
            <div class="row">
                <div class="col s12">
                    <form th:action="@{/return/search}" method="get" id="searchForm">
                        <div class="input-field">
                            <input name="barcode" type="search" placeholder="Search for book by barcode" required="required" autocomplete="off"/>
                            <i class="material-icons" id="searchIcon">search</i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <h2 class="center-align" th:if="${foundBook == false}">No book found</h2>
    <table class="highlight" th:if="${book != null}">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Isbn</th>
            <th>Barcode</th>
            <th>Loan Date</th>
            <th>Overdue Fee</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td th:text="${book.bibliographicRecord.title}"></td>
            <td th:text="${book.bibliographicRecord.author}"></td>
            <td th:text="${book.bibliographicRecord.isbn}"></td>
            <td th:text="${book.barcode}"></td>
            <td th:text="${book.loan.loanDate}"></td>
            <td th:text="|${overdueFee}  Ft|"></td>
            <td>
                <form th:action="@{/return}" method="post">
                    <input th:type="hidden" id="bookBarcode" name="bookBarcode" class="barcodeInput" th:value="${book.barcode}"/>
                    <button class="btn-floating btn-small waves-effect waves-light green" type="submit" name="action">
                        <i class="material-icons">done</i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>